html,
body,
svg,
#App,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

/* common class */
.cont-title{
  padding: 0 60px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
}
/* media */

@media screen and (max-width: 560px) {
  html {
    font-size: 6px;
  }
}
