header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 20px;
  backdrop-filter: blur(5px);
  z-index: 99;
}

header nav {
    height:32px;
    font-size:2rem;
}
header nav ul{
    flex-direction: row;
}

header  nav ul li,header nav  div{
    display:flex;
    align-items: center;
}
@media screen and (max-width: 660px) {
}
